# Churn Prediction

#### use binary clasification to represent negative churn 0 and positive churn 1

In [4]:
import pandas as pd
import numpy as np

# Data - Prep

In [22]:
import urllib.request

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv"
filename = "course_lead_scoring.csv"
urllib.request.urlretrieve(url, filename)

df = pd.read_csv(filename)
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

#### Check if the missing values are presented in the features.
### If there are missing values:
##### 1. For caterogiral features, replace them with 'NA'
##### 2. For numerical features, replace with with 0.0

In [21]:
#### Check if the missing values are presented in the features:

# Create a summary DataFrame with column name, dtype, and null counts
summary_df = pd.DataFrame({
    "Column": df.columns,
    "Dtype": df.dtypes.values,
    "Null_Count": df.isnull().sum().values
})

print(summary_df)

                     Column    Dtype  Null_Count
0               lead_source   object         128
1                  industry   object         134
2  number_of_courses_viewed    int64           0
3             annual_income  float64         181
4         employment_status   object         100
5                  location   object          63
6         interaction_count    int64           0
7                lead_score  float64           0
8                 converted    int64           0

In [21]:
#### If there are missing values:
#### 1. For caterogiral features, replace them with 'NA'

df = ['lead_source', 'industry', 'employment_status', 'location'] == 0:
    for value in 
        replace with 'NA'

#### 2. For numerical features, replace with with 0.0

                     Column    Dtype  Null_Count
0               lead_source   object         128
1                  industry   object         134
2  number_of_courses_viewed    int64           0
3             annual_income  float64         181
4         employment_status   object         100
5                  location   object          63
6         interaction_count    int64           0
7                lead_score  float64           0
8                 converted    int64           0

# Question 1
#### What is the most frequent observation (mode) for the column industry?

# Question 2
#### Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features.
#### 
What are the two features that have the biggest correlation?

# Question 3
####

# Question 4
####

# Question 5
####

# Question 6
####